### Django ###
*.log
*.pot
*.pyc
__pycache__/

### Linux ###
*~

### PyCharm ###
.idea/

### Python ###
__pycache__/
# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Environments
.env
env/
ENV/
venv/
console.py

doc/

#KDE
.directory